.app-header__logo .logo-src {
    background: none !important;
}

.logo-src {
    width: 125px !important;
}


@media only screen and (max-width: 768px) {
    .app-main .app-main__outer {
      height: 91vh;
    }
}


.app-logo-inverse {
    background: none;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}

.modal-footer {
    background-color: #fff;
    padding-bottom: 0;
}

.form-check {
    padding-left: 2rem;
}

.list-group-item {
    padding: .25rem .5rem;
}

/*-----------------------------------------*/

/* (AUTH STYLES) */

.navbar-nav {
    flex-direction: row;
}

.nav-btn {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: #fff;
    background-color: #55f;
    text-decoration: none;
}

.nav-btn:hover {
    color: #fff;
    text-decoration: none;
}

#logoutForm {
    display: flex;
}

#logout-btn {
    color: #000;
    margin-left: 25px;
}