@model Models.Country

@{
    ViewBag.Title = "New";
}

<div class="row">
    <div class="col">
        <div class="app-page-title mb-0 py-2">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <h1>New Country</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="main-card mb-3 mt-3 card">
            <div class="card-body">
                @using (@Html.BeginForm("Create", "Countries"))
                {
                    <input id="id" type="hidden" name="id" value="0" />
                    <div class="position-relative form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", required = true })
                    </div>
                }
            </div>
        </div>
    </div>
</div>